*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
  font-family: system-ui;
  overscroll-behavior: none;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
}

.fake-loader {
  position: fixed;
  pointer-events: none;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.buttonBox {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media screen and (max-width: 600px) {
    background-color: rgba(12, 105, 171, 0.5);
    width: 100%;
    right: 0px;
    bottom: -406px;
    padding: 20px;
    transition: 0.5s bottom;
    &[data-active="true"] {
      bottom: 0px;
    }
  }
  &_mobile {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      font-size: 18px;
      color: #fff;
      background-color: transparent !important;
      border: none;
      text-transform: uppercase;
      margin-bottom: 20px;
      position: relative;
      &[data-active="true"] {
        svg {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        height: 32px;
        width: 32px;
        min-width: 32px;
        min-height: 32px;
        transition: 0.5s transform;
      }
    }
  }
  &_btn {
    position: relative;
    padding: 12px 65px;
    font-size: 18px;
    color: #fff;
    background-color: #0c69ab;
    border: none;
    border-radius: 999px;
    border: 2px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    &[data-active="true"] {
      color: #0c69ab;
      background-color: #fff;
      border: 2px solid #0c69ab;
    }
  }
}

.popup {
  position: fixed;
  z-index: 4;
  top: 20px;
  left: -100%;
  background-color: white;
  width: 30vw;
  height: fit-content;
  max-height: calc(100vh - 40px);
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
  padding-bottom: 81px;
  max-width: 570px !important;

  &[data-active="true"] {
    left: 40px;
    @media screen and (max-width: 600px) {
      width: calc(100% - 40px);
      left: 0%;
      margin: 0px 20px;
    }
  }
  &_images {
    display: flex;
    gap: 20px;
    max-height: 12vh;
    img {
      object-fit: contain;
      width: 20%;
    }
    img:nth-child(3) {
      object-fit: contain;
      width: 40%;
    }
  }
  &_grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 1650px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  &_headside {
    margin-left: 20px;
    margin-bottom: -25px;
    width: calc(100% - 20px);
    background-color: #0c69ab;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 4px;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
    }
    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
    h2 {
      background-color: #0c69ab;
      width: fit-content;
      padding: 5px 10px;
      text-transform: uppercase;
      color: white;
      font-size: 1.757vw;
      line-height: calc(1.757vw * 1.2);
      @media screen and (max-width: 600px) {
        font-size: 18px;
        line-height: calc(18px * 1.5);
      }
    }
  }
  &_play {
    position: relative;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      height: 0px;
      width: 0px;
      border-top: 25px solid transparent;
      border-left: 40px solid white;
      border-bottom: 25px solid transparent;
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
      &[data-hide="true"] {
        border: none;
      }
    }
  }
  &_video {
    width: 100%;
    position: relative;
    object-fit: cover;
    height: 235px;
    background-color: black;
    @media screen and (min-width: 1500px) {
      height: 270px;
    }
    @media screen and (min-width: 1800px) {
      height: 324px;
    }
    iframe,
    img {
      object-fit: cover;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
  video {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }
  h3 {
    color: #0c69ab;
    font-size: 1.4375rem;
    line-height: calc(1.4375rem * 1.4);
  }

  &_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px 36px;
    max-height: calc(100vh - 405px);
    @media screen and (min-width: 1400px) {
      max-height: calc(100vh - 445px);
    }
    @media screen and (min-width: 1650px) {
      max-height: calc(100vh - 524px);
    }

    p,
    a {
      color: black;
      text-decoration: none;
      font-size: 1.375rem;
      line-height: 1.75rem;
      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: calc(16px * 1.5);
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 13px;
      padding-left: 24px;
      li {
        max-width: 85%;
        font-size: 1.3125rem;
        line-height: 1.4375rem;
        font-weight: bold;
        @media screen and (max-width: 600px) {
          font-size: 16px;
          line-height: calc(16px * 1.5);
        }
        span {
          font-weight: normal;
        }
      }
    }
  }
  &_close {
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    svg {
      height: 100% !important;
      width: 100% !important;
    }
  }
  &_button {
    background-color: #0c69ab;
    border: none;
    border-radius: 999px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
    font-size: 1.171vw;
    line-height: calc(1.171vw * 1.2);
  }
}

.outDoor {
  position: fixed;
  z-index: 2;
  height: 180px;
  width: 120px;
  background-color: orange;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  clip-path: polygon(40% 50%, 100% 100%, 100% 0);
  cursor: pointer;
  transition: 0.3s opacity ease-in-out;
  &[data-active="true"] {
    opacity: 0.8;
  }
}

.buttonSlide {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  background-color: #c8382e;
  border-radius: 999px;
  width: 250px;
  height: 45px;
  text-align: center;
  border: none;
  color: white;
  font-weight: lighter;
  font-size: 1.125rem;
  line-height: calc(1.125rem * 1.5);
  cursor: pointer;
  &::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 999px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    transition: 0.3s left ease-in-out;
  }
  &[data-active="true"] {
    background-color: #0c69ab;
    &::after {
      left: calc(100% - 42.5px);
    }
  }
}

.buttonInside {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  background-color: white;
  padding: 16px 0px 36px 36px;
  &_btn {
    background-color: #c8382e;
    border-radius: 999px;
    width: 250px;
    height: 45px;
    min-height: 45px;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    span {
      font-size: 1.125rem !important;
      line-height: calc(1.125rem * 1.5) !important;
    }
    &::after {
      content: "";
      height: 40px;
      width: 40px;
      background-color: white;
      border-radius: 999px;
      position: absolute;
      left: 2.5px;
      top: 2.5px;
      transition: 0.3s left ease-in-out;
    }
    &[data-active="true"] {
      background-color: #0c69ab;
      &::after {
        left: calc(100% - 42.5px);
      }
    }
  }
}
